{% extends "events/base.html" %}
{% load static %}
{% block fullwidth_content %}
{% load crispy_forms_tags %}
<div class="container-fluid content-section">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="display-3 text-center mt-5 mb-1">{{ object.title }}</h1>
        <h2 class="text-center mb-2 no-bold">{{ object.event_date|date:"l, F d, Y" }}</h2>
        {% if object.author == user %}
        <div class="text-center">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-update' object.pk %}">
                Update Event
            </a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-duplicate' object.pk %}">
                Duplicate Event
            </a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' object.pk %}">
                    Delete Event
            </a>
        </div>
        {% endif %}
        <hr/>
      </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 mb-2 text-center">
        
            <p>
                Hosted by: 
            </p>
            <h5>
                <img src="{{ object.author.profile.image.url }}" 
                class="rounded-circle article-img" 
                alt="{{object.author.username}}-img"
                >
                {{ object.author }}
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
                <div id="not-today-button">
                    <button type="button" class="mb-2 btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        RSVP to Event!
                    </button>
                </div>
                    
                <div id="today-button">
                    <div>
                        <p>
                            Attendees: {{ check_in_count }}
                        </p>
                    </div>
                    <button type="button" class="mb-2 btn btn-primary" id="map-button">
                        Check in to Event!
                    </button> 
                </div>
                    
                <div id="day-passed">
                    <div>
                        <p>
                            Attendees: {{ check_in_count }}
                        </p>
                        <p>
                            <b>This event has already completed.</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" ></div>
                    <div class="col-md-4">
                        <div id="waiting"></div>
                        <div id="ajax-success" class="alert alert-success"></div>
                        <div id="ajax-error" class="alert alert-danger"></div> 
                    </div>
                    <div class="col-md-4" ></div>
                </div>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row display-flex mt-1">
        <div class="col-md-4">
            <div class="content-section event-widget">
                <h5 class="text-center">Details:</h5>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">
                        Event Date: {{ object.event_date|date:"F d, Y" }}
                    </li>
                    <li class="list-group-item list-group-item-light">
                        Skill Level: {{ object.skill_level }}
                    </li>
                    <li class="list-group-item list-group-item-light">
                        Continuous Charge Needed: {{ object.continuous_charge_miles_needed }} miles
                    </li>
                    <li class="list-group-item list-group-item-light">
                        <p>RSVP Goal Progress: </p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ width_ratio }}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="1">
                                {{attendees_count}}/{{object.rsvp_goal}}
                            </div>
                        </div>  
                    </li> 
                    <li class="list-group-item list-group-item-light">
                        <p>Event Announcements:</p>  
                        <p>{{ object.eventannouncement.text }}</p>
                        {% if object.author == user %}
                            {% if object.eventannouncement %}
                                <a href="{% url 'update-event-announcement' object.eventannouncement.pk %}">Update Announcement</a>
                            {% else %}
                                <a href="{% url 'create-event-announcement' %}?event={{ object.pk }}">Create Announcement</a>
                            {% endif %}
                        {% endif %}
                    </li>
                    <li class="list-group-item list-group-item-light">
                            Description: {{ object.content }}
                    </li>
                </ul>
        
            </div>
        </div>
        <div class="col-md-4">
            <div class="content-section event-widget">
                <h5 class="text-center">Location:</h5>
                <h6 class="text-center">{{ object.location }}</h6>
                <iframe
                    width="100%"
                    height="350"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key={{ gmaps_key }}
                    &q={{ location }}" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content-section event-widget">
                <h5 class="text-center">People Going:</h5>
                <ul class="list-group">
                    {%for attendee in object.attendees.all %}
                        <li class="list-group-item list-group-item-light">
                            <img src="{{ attendee.profile.image.url }}" 
                            class="rounded-circle article-img" 
                            alt="{{ attendee.username }}-img"
                            >
                            {{attendee.username}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-8">
            <div class="content-section">
                <div class="comment-wrapper">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <form action="/events/post_comment/" method="post">
                                {% csrf_token %}
                                {{ form.comment|as_crispy_field }}
                                {{ form.event.as_hidden }}
                                <br>
                                <button type="submit" class="btn btn-primary pull-right">Post</button>
                            </form>
                            <div class="clearfix"></div>
                            <hr>
                            <h5>Comments:</h5>
                            <ul class="media-list">

                                {% for comment in object.comments.all reversed %}
                                <li class="media">
                                    <img src="{{ comment.user.profile.image.url }}" 
                                    class="rounded-circle article-img" 
                                    alt="{{comment.user.username}}-img"
                                    >
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">{{ comment.date_posted }}</small>
                                        </span>
                                        <strong class="text-primary">@{{ comment.user.username }}</strong>
                                        <p>
                                            {{ comment.text }}
                                        </p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h5>Photo Gallery:</h5>
                <div class="row text-center text-lg-left">
                    {% for img in images %}
                    <div class="col-lg-6 col-md-6 col-6">
                        <div class="d-block mb-4 h-100">
                            
                        <img 
                             class="gal-img img-fluid img-thumbnail hov" 
                             src="{{ img.url }}" 
                             alt="{{ img.posted_by.username }}-posted-img"
                        >
                        </div>
                    </div>
                    {% endfor %}
                    <form action="/events/post_image/" enctype='multipart/form-data' method="post">
                        {% csrf_token %}
                        {{ image_form.image|as_crispy_field }}
                        {{ image_form.event.as_hidden }}
                        <button type="submit" class="btn btn-secondary pull-right">Add Image</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock fullwidth_content %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Attend {{ object.title }}?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            You're about to RSVP to {{ object.title }}
        </div>
        <div class="modal-footer">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">RSVP to Event</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock modal %}

{% block image_modal %}
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <p>Event Image:</p>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            
        </div>
        <div class="modal-body text-center">
            <img src="" id="imagepreview" style="width: 450px;" >
        </div>
        </div>
    </div>
    </div>
{% endblock image_modal %}

{% block additional_scripts %}
<script type="text/javascript"> 
    var csrf = '{{ csrf_token }}';
    var event_pk = '{{ object.pk }}'; 
    var event_day = {{ event_day }};
    var event_month = {{event_month }};
    var event_year = {{ event_year }};
</script>
<script src="{% static 'events/js/map_scripts.js' %}"></script>
{% endblock additional_scripts %}