{% extends "events/base.html" %}
{% load static %}
{% block content %}
    <div class="col-md-12">
        <article class="media content-section">
            <img src="{{ object.author.profile.image.url }}" 
                class="rounded-circle article-img" 
                alt="{{object.author.username}}-img"
            >
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-events' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.event_date|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-update' object.pk %}">
                            Update Event
                        </a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' object.pk %}">
                                Delete Event
                        </a>
                    </div>
                {% endif %}
                
                </div>
                <h2 class="article-title">{{ object.title }}</h2>
                {% if object.image.name != 'default_event_img.jpg' %}
                    <img class="article-main-img" src="{{ object.image.url }}" alt="Card image cap">
                {% endif %}
                <p class="article-content">{{ object.content }}</p>
            </div>
        </article>
    </div>
{% endblock content %}


{% block sidebar %}
<div class="col-md-4 align-self-start sticky-top" >
    <div class="content-section" >
        <h3>Event Details</h3>
        <!-- <p class='text-muted'>Not sure what to put though -->
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">Host: {{ object.author }}</li>
            <li class="list-group-item list-group-item-light">
                Event Date: {{ object.event_date|date:"F d, Y" }}
            </li>
            <li class="list-group-item list-group-item-light">
                Attendees: 
                {%for attendee in object.attendees.all %}
                    {{attendee.username}}, 
                {% endfor %}
            </li>
            
            
            <li class="list-group-item list-group-item-light">
                <p>Event Announcements:</p>  
                <p>{{ object.eventannouncement.text }}</p>
                {% if object.author == user %}
                    {% if object.eventannouncement %}
                        <a href="{% url 'update-event-announcement' object.eventannouncement.pk %}">Update Announcement</a>
                    {% else %}
                        <a href="{% url 'create-event-announcement' %}?event={{ object.pk }}">Create Announcement</a>
                    {% endif %}
                {% endif %}
            </li>
            <li class="list-group-item list-group-item-light">
                    <p>Location: {{ object.location }}</p>
                    <iframe
                        width="100%"
                        height="350"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key={{ gmaps_key }}
                        &q={{ location }}" allowfullscreen>
                  </iframe>
            </li>
            <!-- <li class="list-group-item list-group-item-light">Calendars</li> -->
            <!-- <li class="list-group-item list-group-item-light">etc</li> -->
        </ul>
        </p>
    </div>
{% endblock sidebar %}



{% block sidebutton %}

{% if event_is_today != True %}
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ width_ratio }}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="1">
            {{attendees_count}}/{{object.rsvp_goal}}</div>
        </div>
    <div>
{% endif %}

    {% if event_is_today %}
    <div>
            <p>
                Attendees: {{ check_in_count }}
            </p>
        </div>
        <button type="button" class="mb-5 btn btn-primary btn-block" id="map-button">
            Check in to Event!
        </button>
    {% else %}
        <div>
                <p>
                    RSVPs: {{ attendees_count }}
                </p>
        </div>
        <button type="button" class="mb-5 btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">
            RSVP to Event!
        </button>
    {% endif %}
</div>

 {% endblock sidebutton %}

 {% block modal %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Attend {{ object.title }}?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            You're about to RSVP to {{ object.title }}
        </div>
        <div class="modal-footer">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">RSVP to Event</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock modal %}

{% block additional_scripts %}
<script type="text/javascript"> 
    var csrf = '{{ csrf_token }}';
    var event_pk = '{{ object.pk }}'; 
</script>
<script src="{% static 'events/js/map_scripts.js' %}"></script>
{% endblock additional_scripts %}
      





